<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CFL Edit</title>
  {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'nav.html' %}
    <form action="/cfl/submit" method="post">
    <div class="mb-3">
    <label for="partner_name" class="form-label">Partner Name</label>
    <input type="text" class="form-control" id="partner_name" name="partner_name" value="{{cfl['partner']}}">
  </div>
    <div class="mb-3">
    <label for="leader_name" class="form-label">Leader Name</label>
    <input type="text" class="form-control" id="leader_name" name="leader_name" value="{{cfl['partner']}}">
  </div>
    <div class="mb-3">
    <label for="item" class="form-label">Item</label>
    <input type="text" class="form-control" id="item" name="item" value="{{cfl['partner']}}">
  </div>
    <div class="mb-3">
    <label for="cfl_reason" class="form-label">CFL Reason</label>
    <input type="text" class="form-control" id="cfl_reason" name="cfl_reason" value="{{cfl['partner']}}">
  </div>
    <div class="mb-3">
    <label for="breakdown" class="form-label">Breakdown</label>
        <textarea type="text" class="form-control" id="breakdown" name="breakdown">{{cfl['breakdown']}}</textarea>
  </div>
    <div class="mb-3">
    <label for="solution" class="form-label">Solution</label>
        <textarea type="text" class="form-control" id="solution" name="solution">{{cfl['solution']}}</textarea>
  </div>
 <input type="submit" class="btn btn-primary">
</form>

</body>
</html>