<!DOCTYPE html>
<html>
<head>
    <title>cfl Submitted</title>
    {% include 'bootstrap.html' %}
</head>
<body>
{% include 'nav.html' %}
<div class="mx-auto">
<b >Your cfl has been submitted!</b><br>

<b>Partner Name</b>
<div class="mb-2">{{cfl['partner']}}</div>

<b>Leader Name</b>
<div class="mb-2">{{cfl['leader']}}</div>

<b>Item</b>
<div class="mb-2">{{cfl['item']}}</div>

<b>Reason</b>
<div class="mb-2">{{cfl['reason']}}</div>

<b>Breakdown</b>
<div class="mb-2">{{cfl['breakdown']}}</div>

<b>Solution</b>
<div class="mb-2">{{cfl['solution']}}</div>

    <b>Date</b>
<div class="mb-2">{{cfl['created_at']}}</div>
</div>
</body>


</html>