<form action="/cfl/submit" method="post">
    <div class="mb-3">
    <label for="partner_name" class="form-label">Partner Name</label>
    <input type="text" class="form-control" id="partner_name" name="partner_name" required>
  </div>
    <div class="mb-3">
    <label for="leader_name" class="form-label">Leader Name</label>
    <input type="text" class="form-control" id="leader_name" name="leader_name" required>
  </div>
    <div class="mb-3">
    <label for="item" class="form-label">Item</label>
    <input type="text" class="form-control" id="item" name="item" required>
  </div>
    <div class="mb-3">
    <label for="cfl_reason" class="form-label">CFL Reason</label>
    <input type="text" class="form-control" id="cfl_reason" name="cfl_reason" required>
  </div>
    <div class="mb-3">
    <label for="breakdown" class="form-label">Breakdown</label>
        <textarea type="text" class="form-control" id="breakdown" name="breakdown" required></textarea>
  </div>
    <div class="mb-3">
    <label for="solution" class="form-label">Solution</label>
        <textarea type="text" class="form-control" id="solution" name="solution" required></textarea>
  </div>
 <input type="submit" class="btn btn-primary">
</form>