<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elixir</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'nav.html' %}
    {% if current_user.is_authenticated %}
    Hello, {{ current_user.full_name }}!
    {% endif %}

    <h3 class="mt-4 ms-2 text-center">Welcome, Leader!</h3>

    <!----------------- CFL Jumbo -------------------->
    <div class="container py-5">
        <div class="p-5 text-center bg-secondary bg-opacity-10 rounded-3 border border-dashed rounded-5">
            <img src="/static/cfl.svg" style="width: 100px; height: 100px" class="mx-10">
            <h1 class="text-body-emphasis">CFLs</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                Add CFLs to the database
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" href="/cfl">
                    Go to CFLs
                </a>
            </div>
        </div>
    </div>
     <!----------------- Logout Jumbo -------------------->
    <div class="container py-5">
        <div class="p-5 text-center bg-secondary bg-opacity-10 rounded-3 border border-dashed rounded-5">
            <img src="/static/logout.svg" style="width: 100px; height: 100px" class="mx-10">
            <h1 class="text-body-emphasis">Logout Tool</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                Make and Export a Logout
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" href="/logout">
                    Go to Logout Tool
                </a>
            </div>
        </div>
    </div>
</body>
</html>