<nav class="navbar navbar-expand-md" style="background-color: antiquewhite" aria-label="Navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: coral">Birdies Eats & Drinks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link"  href="/summary">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Labour</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/cfl">CFL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Transition Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Waste</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Environment</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout">View Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>