<nav class="navbar navbar-expand-md" style="background-color: antiquewhite" aria-label="Navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="static/logo.svg" width="200" height="50">
      </a>
         <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link position-absolute top-0 end-0 btn mt-3 mx-1"  href="" style="background-color: coral">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>