<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout View</title>
  {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'nav.html' %}
  <h3>start date: {{ start_date }} - end date: {{ end_date }}</h3>
  <h1 class="text-center">Birdies TODO(PM/AM) Logout</h1><br>

  <h3 class="text-center">TODO - Summary (Leader names)</h3>

  <h3 class="text-center">TODO - Sales & Labour</h3>

  <h3 class="text-center">CFLs</h3>
    <div class="table-responsive mx-3">
<table class="table table-bordered">
    <tr>
      <th>CFL ID</th>
      <th>Partner Name</th>
      <th>Leader Name</th>
      <th>Item</th>
      <th>Reason</th>
      <th>Breakdown</th>
      <th>Solution</th>
      <th>Date</th>
      <th>Actions</th>
        <!-- Add other columns as needed -->
    </tr>
    {% for cfl in cfls %}
    <tr>
      <td>{{ cfl.id }}</td>
      <td>{{ cfl.partner }}</td>
      <td>{{ cfl.leader }}</td>
      <td>{{ cfl.item }}</td>
      <td>{{ cfl.reason }}</td>
      <td>{{ cfl.breakdown }}</td>
      <td>{{ cfl.solution }}</td>
      <td>{{ cfl.updated_at }}</td>
        <!-- Add other columns as needed -->
        <td>
            <!-- Delete button -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{ cfl.id }}">
                Delete
            </button>

            <!-- Modal for delete confirmation -->
            <div class="modal fade" id="delete{{ cfl.id }}" tabindex="-1" aria-labelledby="deleteLabel{{ cfl.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteLabel{{ cfl.id }}">Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this CFL?
                        </div>
                        <form action="{{ url_for('cfl_delete', cfl_id=cfl.id, start_date=start_date, end_date=end_date) }}" method="post">
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit button -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit{{ cfl.id }}">
                 Edit
            </button>
            <!-- Modal for edit -->
            <div class="modal fade" id="edit{{ cfl.id }}" tabindex="-1" aria-labelledby="editLabel{{ cfl.id }}"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editLabel{{ cfl.id }}">Edit CFL</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{{ url_for('edit_cfl', cfl_id=cfl.id) }}"
                              method="post">
                            <div class="modal-body">
                                Are you sure you want to edit this CFL?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Go to Edit page</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </td>
    </tr>
    {% endfor %}
</table>
  </div>

  <h3 class="text-center">TODO - Transition Notes</h3>

  <h3 class="text-center">TODO - People</h3>

  <h3 class="text-center">TODO - Environment</h3>

  <h3 class="text-center">TODO - FOH Waste</h3>
</body>
</html>